# Compiled class file
*.class



# BlueTuna files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*quantum
*quantum
*quantum
*.rar

# quantum, see http://www.java.com/en/quantum.xml
"hybrid"
